@charset "ISO-8859-1";
* {box-sizing: border-box}

 

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

 

.topnav {
  overflow: hidden;
  background-color: #333;
}

 

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

 

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

 

.topnav a.active {
  background-color: #E15050;
  color: white;
}
.img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 10%;}
  
  .container {
  padding: 16px;
}

 


input[type=text], input[type=password],input[type=email],input[type=tel] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

 

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

 

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
  
 .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 
 .registerbtn {
  background-color: #E15050;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

 

.registerbtn:hover {
  opacity:1;
}

 

.login {
  background-color: #f1f1f1;
  text-align: center;
}
h1{
    color:#E15050;
}